<!-- COLOR PALETTE ALLOWING USERS TO PICK COLORS FOR THE NOTE BACKGROUND -->
                    <select class="form-select color-selector" <% if(newNote){%> hidden <%}%> name="color" size="4" aria-label="Color Select">
                        <option id="yellow-color-option" value="#fff475" selected></option>
                        <option id="red-color-option" value="#f28b82"></option>                        
                        <option id="blue-color-option" value="#aecbfa"></option>                        
                        <option id="green-color-option" value="#ccff90"></option>                                                
                        <option id="gray-color-option" value="#e8eaed"></option>                        
                    </select>