<!-- COLOR PALETTE ALLOWING USERS TO PICK COLORS FOR THE NOTE BACKGROUND -->

                    <select class="form-select color-selector" <% if(newNote){%> hidden <%}%> name="color" size="4" aria-label="Color Select">
                        <option id="yellow-color-option" value="#fff475" 
                            <% if(newNote){ %>
                                selected>
                            <% } %>
                        </option>
                        <option id="red-color-option" value="#f28b82"
                            <% if(!newNote && '#f28b82' === selectedColor){ %>
                                    selected>
                            <% } %>
                        </option>                        
                        <option id="blue-color-option" value="#aecbfa"
                            <% if(!newNote && '#aecbfa' === selectedColor){ %>
                                selected>
                            <% } %>
                        </option>                        
                        <option id="green-color-option" value="#ccff90"
                            <% if(!newNote && '#ccff90' === selectedColor){ %>
                                selected>
                            <% } %>
                        </option>                                                
                        <option id="gray-color-option" value="#e8eaed"
                            <% if(!newNote && '#e8eaed' === selectedColor){ %>
                                selected>
                            <% } %>
                        </option>                        
                    </select>
