<!-- Form that submits a new note -->
                <form class="col col-md-6 text-center" method="POST" action="/<%= userData.userId %>/notes" id="new-note-form">                    
                    <input type="text" class="form-control my-2 hidden" id="title" name="title" placeholder="Title: ">
                    <textarea class="form-control my-2" id="content" name="content" placeholder="Take a note..."></textarea>
                    <button type="submit" class="btn btn-primary my-2" disabled>+</button>
                </form>