<!-- Form that submits a new note -->
                <form class="col col-md-6 text-center border" method="POST" action="/note" id="new-note-form">
                    <input type="text" class="form-control my-2" id="title" name="title" placeholder="Title: ">
                    <input type="text" class="form-control my-2" id="content" name="content" placeholder="Text: ">
                    <button type="submit" class="btn btn-primary my-2">+</button>
                </form>