<!-- Div contaning a note -->
                <div class="col-10 col-md-6 col-lg-4 m-2 note">
                    <h3 class="text-center my-2 note-title"><%= note.title %></h3>
                    <hr>
                    <p class="my-2 note-content"><%= note.content %></p>  
                    <div class="d-flex justify-content-end note-buttons-container">                        
                        <button class="btn btn-warning btn-sm my-1 mx-1 note-edit-button">
                            Edit
                        </button>
                        <form action="/note/<%= note._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger btn-sm my-1 mx-1 note-delete-button">
                                Delete
                            </button>
                        </form> 
                    </div>                                                           
                </div>
                
                <%- include('note-edit', {note}) %>