    /* Color selector */
    .color-selector{        
        height: 50px;
        display: block;
        text-align: center;
        background-color: transparent;        
        border: none;        
        overflow: hidden;
    }    
        .color-selector option{
            margin: auto 10px auto 10px;
            width: 20px;                        
            display: inline-block;                        
            border-radius: 50px;            
        }
        .color-selector option:hover{
            cursor: pointer;
        }
        .color-selector option:checked{                                                          
            border: solid black;
            transform: scale(1.5);
        }
            #yellow-color-option{
                background-color: #fff475;
            }
            #red-color-option{
                background-color: #f28b82;
            }
            #blue-color-option{
                background-color: #aecbfa;
            }
            #green-color-option{
                background-color: #ccff90;
            }
            #gray-color-option{
                background-color: #e8eaed;
            }