html{
    border: solid black;
}
    body{
        border: solid darkgray;
    }  
        main{
            border: solid grey;
        }

            /* Navbar */
            nav{
                border: solid black,                
            }
                .navbar-brand{
                    /* border: solid darkgray; */
                }
                .navbar-toggler, .navbar-toggler-icon{
                    border: solid gray;
                }
                .nav-item, .nav-link{
                    border: solid gray;
                }

            /* New note form */
            #new-note-form-container{
                border: solid darkred;
            }
                #new-note-form{
                    border: solid red;
                }  
                    #new-note-form > *{
                        border: solid darkorange;
                    }      
                    
            /* Note */
            #notes-container{
                border: solid darkred;
            } 
                .note{
                    border: solid red;
                }
                    .note > *{
                        border: solid darkorange;
                    }
            
            /* Note in edit */
            .note-edit-container{
                border: solid darkred;
            }
                .note-edit-container > *{
                    border: solid red;
                }
                    .note-edit-container form > *{
                        border: solid darkorange !important;
                    }

            /* Color picker component */                
            .color-selector{
                border: solid grey;
            }            
                .color-selector option{                    
                    border: solid lightgrey;
                }

        