body{
    background-color: aliceblue;
}
    main{
        margin-top: 150px;
    }

.hidden{
    display: none !important;
}
.show{
    display: block !important;
}

input:focus{
    outline: none;
}