.note-edit-container{     
    border-radius: 30px;
    height: 50vh;
}
    .note-edit-container form{
        height: 100%;        
        display: flex;
        flex-direction: column;        
        justify-content: space-between;
    }  
        .note-edit-container form input, .note-edit-container form input:focus,
        .note-edit-container form textarea, .note-edit-container form textarea:focus{
            background-color: inherit;
            border: none;                        
            box-shadow: none;
        }        
            .note-edit-container form .note-title{
                font-size: 30px;                
                font-weight: 600;
            }
