.note-edit-container{
    background-color: #fff475;
    border: solid #fff475 1px;
    border-radius: 5px;
    height: 40vh;
}
    .note-edit-container form{
        height: 100%;        
        display: flex;
        flex-direction: column;        
        justify-content: space-between;
    }  
        .note-edit-container form input, .note-edit-container form input:focus,
        .note-edit-container form textarea, .note-edit-container form textarea:focus{
            background-color: #fff475;
            border: none;            
        }        
            .note-edit-container form .note-title{
                font-size: 30px;                
                font-weight: 600;
            }